{{#partial "title" }}
    Books Failure
{{/partial}}


{{#partial "content"}}

    <div class="container">
          <p>Task Failed</p>
        <a href="/addbooks">Add Book</a>
        <a href="/vbooks">View Books</a>
           <a href="">Logout</a>
    </div>

{{/partial}}

{{#partial "footer"}}
    <p><a href="/">Back Home</a></p>

{{/partial}}

{{> layout.hbs}}