{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}BookShop{{/block}}
        </title>
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
{{/block}}

<!-- begin inner template-->
<div class="container">
    {{#block "content"}}
    {{/block}}

</div>
<!-- end inner template-->
<div class="container">
{{#block "footer"}}

    </div>

    </body>
    </html>
{{/block}}